* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

main .max-width-wrapper {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 5px solid hsl(0deg, 0%, 40%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  margin: 20px;
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
}

h2 {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}
/* Add styles here! */
